.btnWide{
    width: 100%;
}
#fizzButton{
    background-color: #ff993b;
    color: black;
    border: 2px solid #0a0a0a;
}
#fizzButtonX{
    background-color: #ff993b;
    color: black;
    border: 2px solid #0a0a0a;
}
